/ad_buy_engine/target
.env
legacy/.env.example
!.env.example
**/target
.idea
bin/
*.wasm
**/main_server/static/private_server/static/pkg/.gitignore
dist
node_modules
crate/pkg
crate/target
crate/wasm-pack.log
*.log
*.db
*.sqlite
*.sqlite3
.cache
GeoLite2-City.mmdb
GeoLite2-Country.mmdb
GeoLite2-ASN.mmdb
.vscode
offline_server
*.pem
*.key
*.crt
*.p12
*.pfx
